[Desktop Entry]
Version=1.0
Name=Betaflight Slack
Exec=/usr/bin/google-chrome-stable --app="https://betaflightgroup.slack.com/"
Icon=google-chrome
Type=Application
Terminal=false
